# Environment Variables
# Copy this file to .env and fill in your values
JWT_SECRET=your-secret-key-here
EXCEL_INVENTORY_PATH=../Inventory Detail (1).xlsx
EXCEL_LOCATION_PATH=../Location code (2).xlsx
EXCEL_SR_PATH=../ServiceRequestReport-639195597679312838 (2).xlsx
